html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

h2 {
    display: inline-block;
    font-size: 18px;
}

#main-editor {
    max-width: 740px;
}

.operation-editor {
    position: relative;

    & .body {
        background-color: #eee;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
        padding: 6px 16px 16px 16px;
        margin-top: 16px;
    }
    & .body.is-root {
        border-top-left-radius: 16px;
    }
    & .body.is-container {
        border-bottom-right-radius: 0;
    }

    & label.index {
        position: absolute;
        top: -10px;
        left: -42px;
        background-color: #eee;
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
        width: 28px;
        text-align: right;
        padding-right: 4px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-left: 10px solid #fff;
        border-top: 10px solid #fff;
        border-bottom: 10px solid #fff;
    }
    & h2 {
        margin-top: 0;
    }

    & textarea {
        box-sizing: border-box;
        width: 100%;
        height: 120px;
    }

    & .parameters {
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: 1fr 1fr auto;

        & .row-role {
            grid-row: 1 / 2;
        }
        & .row-type {
            grid-row: 2 / 3;
        }
        & label {
            grid-column: 1 / 2;
        }
        & .radio-group {
            grid-column: 2 / 3;
        }
        & .type-parameters {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }
    }

    & .text-input-wrapper {
        position: relative;
    }

    & .indicator {
        display: none;
        position: absolute;
        right: 16px;
        bottom: 4px;
        font-size: 12px;

        &.loading {
            display: block;
            color: #999;
        }

        &.valid {
            display: block;
            color: #129312;
        }
    }

    & .child-operations {
        padding-left: 20px;
        border-left: 36px solid #eee;
        margin-top: -22px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 36px solid #eee;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

.word {
    padding: 0;
    margin: 12px 2px;
    display: inline-block;
    position: relative;

    &:has(.word-popup.selected) span {
        font-weight: bold;
    }

    & .word-popup {
        position: absolute;
        top: 32px;
        left: calc(50% - 130px);
        width: 260px;
        background-color: #fff;
        border: 1px solid #000;
        z-index: 100;

        &:before {
            content:'';
            display:block;
            width:0;
            height:0;
            position:absolute;

            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid black;
            left: calc(50% - 4px);

            top: -8px;
        }

        &:not(.editing) {
            & .word-text input {
                display: none;
            }
            & .word-input {
                display: none;
            }
            & button.add,
            & button.cancel,
            & button.apply {
                display: none;
            }
        }
        &:not(.editable) button.edit {
            display: none;
        }
        &.editing button.edit {
            display: none;
        }
    }

    & .word-bar {
        width: 80px;
        height: 20px;
        background-color: #fff;
    }
    & .word-text {
        width: 180px;
    }
    & tr.selected .word-text {
        font-weight: bold;
    }
    & .word-input input {
        width: 206px;
    }
    & .word-input button {
        background-color: #fcc;
        border: 0;
        border-radius: 8px;
        padding: 4px 8px;
        margin: 0 4px;
    }

    & td.buttons {
        text-align: center;
    }
    & td.buttons button {
        background-color: #ccf;
        border: 0;
        border-radius: 8px;
        padding: 4px 12px;
        margin: 0 8px;
        
        &:hover {
            background-color: #aac;
        }
    }
}

#results {
    padding: 32px;

    & .block-label {
        display: inline-block;
        padding: 6px;
        background-color: #eee;
        border-radius: 16px;
        margin: 0 12px;
    }
}

.action-bar {
    width: 100%;
    text-align: center;

    & button {
        background-color: #ccf;
        border: 0;
        border-radius: 8px;
        padding: 4px 12px;
        margin: 0 8px;
        
        &:hover {
            background-color: #aac;
        }
    }
}