body {
    display: flex;
    flex-direction: column;
}

.conversation-block {
    display: flex;
    flex-direction: row;
}

.conversation-block label {
    flex: 1 0 0;
}
.conversation-block .column {
    flex: 3 0 0;
    position: relative;
}

.conversation-block .column textarea {
    width: 100%;
    height: 120px;
}

.conversation-block .indicator {
    display: none;
    position: absolute;
    right: 16px;
    bottom: 4px;
    font-size: 12px;
}

.conversation-block .indicator.loading {
    display: block;
    color: #999;
}

.conversation-block .indicator.valid {
    display: block;
    color: #129312;
}

.word {
    padding: 0;
    margin: 4px 2px;
    display: inline-block;
    position: relative;
}

.word .word-popup {
    position: absolute;
    top: 32px;
    left: calc(50% - 110px);
    width: 220px;
    background-color: #fff;
    border: 1px solid #000;
    z-index: 100;
}
.word .word-popup:before{
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;

    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid black;
    left: calc(50% - 4px);

    top: -8px;
}
.word:has(.word-popup.selected) {
    font-weight: bold;
}

.word .word-bar {
    width: 80px;
    height: 20px;
    background-color: #fff;
}
.word .word-text {
    width: 140px;
}
.word tr.selected .word-text {
    font-weight: bold;
}